/* Header1 style, used for the main title */
h1 {
  padding: 10px 0px 10px 10px;
  font-size: 21pt;
  background-color: #E2E2E2;
  border-bottom: 1px #C1C1C2 solid;
  color: #201F20;
  margin: 0;
  font-weight: normal;
}
